!build/
build/*
!build/libs/
!build/libs/*
/build/devmods/remapped/
bin/*
.gradle/*
.project
.classpath
*.iml
.settings/*
/bin
init.gradle
/libs
/devmods/*
!/devmods/.gitkeep
/devmods/deobf/
/assets/
/run/
